<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="JpaBairroDAO" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.JpaBairroDAO"></bean>
		
	<bean id="JpaPacienteDAO" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.JpaPacienteDAO"></bean>

	<bean id="JpaEnderecoDAO" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.JpaEnderecoDAO"></bean>
		
	<bean id="JpaMedicoDAO" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.JpaMedicoDAO"></bean>
		
	<bean id="JpaEspecialidadeDAO" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.JpaEspecialidadeDAO"></bean>
		
	<bean id="JpaConsultaDAO" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.JpaConsultaDAO"></bean>

	<bean id="MysqlBairroDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.MysqlBairroDAO"></bean>

	<bean id="MysqlEnderecoDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.MysqlEnderecoDAO"></bean>

	<bean id="MysqlPacienteDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.MysqlPacienteDAO"></bean>

	<bean id="MysqlMedicoDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.MysqlMedicoDAO"></bean>

	<bean id="MysqlEspecialidadeDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.MysqlEspecialidadeDAO"></bean>

	<bean id="MysqlConsultaDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.MysqlConsultaDAO"></bean>


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/posto_saude" />
		<property name="username" value="aluno" />
		<property name="password" value="teste$123" />
	</bean>

</beans>