<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Posto de Saúde Web</title>
</head>
<style>
	label {
		display: inline-block;
		float: left;
		clear: left;
		width: 150px;
		text-align: right;
	}

	input,
	select {
		display: inline-block;
		float: left;
	}
</style>

<body>
	<h1>Cadastrar paciente</h1>

	<form method="POST" action="cadastrarPaciente">
		<label>Nome:</label>
		<input type="text" name="nome" /> <br>

		<label>Sobrenome:</label>
		<input type="text" name="sobrenome" /> <br>

		<label>Data Nascimento:</label>
		<input type="date" name="dataNascimento" /> <br>

		<label>Telefone:</label>
		<input type="text" name="telefone" /> <br>

		<label>Logradouro:</label>
		<input type="text" name="endereco.logradouro" /> <br>

		<label>Número:</label>
		<input type="number" name="endereco.numero" /> <br>

		<label>CEP:</label>
		<input type="text" name="endereco.cep" />

		<label>Bairro:</label>
		<select name="endereco.bairro" required>
			<option value="">Escolha um bairro</option>
			<option th:each="bairro : ${bairros}" th:value="${bairro.id}" th:text="${bairro.nome}"></option>
		</select>

		<input type="submit" value="cadastrar" />
	</form>

	<br>
	<br>
	<br>
	<br>
	<form method="GET" action="listarPacientes">
		<input value="Pacientes Cadastrados" type="submit" />
	</form>

	<br>
	<br>

	<form method="GET" action="index">
		<input value="Início" type="submit" />
	</form>

</body>

</html>