<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Posto de Saúde Web</title>
</head>

<body>
	<h1>Cadastrar bairro</h1>

	<form method="POST" action="cadastrarBairro">
		<input type="text" name="nome" required />
		<input type="submit" value="cadastrar" />
	</form>

	<form method="GET" action="listarbairros">
		<input value="Bairros Cadastrados" type="submit" />
	</form><br />

	<form method="GET" action="index">
		<input value="Início" type="submit" />
	</form>
</body>

</html>